.layout {
    display: flex;
    height: 100%;
}

.menuTitle {
    text-align: center;
    margin-bottom: 1rem;
}
  
.sideBar {
    width: 250px;
    background-color: #2c3e50;
    color: rgb(230, 230, 230);
    padding: 20px;
}

.mainContentArea {
    flex: 1;
    background-color: #ecf0f1;
    padding: 20px;
    overflow: scroll;
}

.sideBar ul {
    list-style-type: none;
    padding: 0;
}

.sideBar li {
    padding: 15px 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid grey;
    transition: 0.2s;
}

.sideBar li:hover {
    background-color: #444e58;
}

.sideBar li a {
    color: #ecf0f1;
    text-decoration: none;
    padding-left: 0.5rem;
}
